.about__profile {
    padding: 1rem 0 4rem 0;
    margin:  0 auto;
    max-width: 200px;
}

.about__text {
    max-width: 800px;
    margin: auto;
    display: grid;

    &--text {
        min-width: 300px;
    }
    &--head {
        color: colour(primary);
        font-weight: weight(regular);
        font-size: size(secondary);
    }
    &--list {
        padding-bottom: 1rem;
        list-style: none;
        color: colour(tertiary);
        font-size: size(secondary);
    }
}