.container--about {
    section:nth-child(1),
    section:nth-child(2)
    {
        margin: 3rem;
    
        .list__heading {
            text-align: center;
            font-size: clamp(1.5rem, 6.25vw, 2.2rem);
            letter-spacing: -0.02em;
            color: colour(secondary);
            font-weight: weight(regular);
        }
    
        .list {
            max-width: 600px;
            padding: 0 2rem;
            margin: 0 auto;
    
            &__item {
                font-size: 14px;
                color: colour(primary);
                font-weight: weight(medium);
                line-height: 1.4em;
                margin: 2rem 0;
            }
    
            &__link {
                text-decoration: none;
                color: colour(accent);
            }
        }
    }
}