.activity-feed {
  &__filters {
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
    grid-gap: var(--element-size-8);
    text-align: center;
    margin: var(--element-size-9) 0 var(--element-size-7) 0;
  }

  .filters {
    &__form {
      width: 100%;
      height: var(--element-size-9);
      border: var(--element-size-1) solid var(--colour-middleground);
      border-radius: var(--element-size-4);

      .form__select, .form__input {
        color: var(--colour-foreground);
        height: 100%;
        width: 85%;
        background-color: transparent;
        border: none;
        outline: none;
        font-size: var(--font-size-s);
        padding-left: var(--element-size-3);
      }
    }

    &__count {
      color: var(--colour-foreground);
      margin: auto 0;
    }
  }

  &__items {
    margin: 0;
  }

  &__item {
    list-style: none;
    margin: var(--element-size-7) 0;
  }

  .item {
    &__heading {
      display: flex;
    }

    &__link {
      flex-grow: 1;
      color: var(--colour-foreground);
    }

    &__title {
      font-size: var(--font-size-s);
    }

    &__category, &__date {
      font-family: 'RobotoMono', monospace;
      font-size: var(--font-size-xs);
      color: var(--colour-middleground);
      text-align: end;
      margin: 0;
    }

    &__category::after {
      content: "•";
      margin: var(--element-size-4);
    }

    &__description {
      font-size: var(--font-size-s);
      margin-top: var(--element-size-4);
    }
  }
}
