.container--articlespages {
    display: flex;
    flex-direction: column;
    align-items: center;

    section {
        width: 100%;
        max-width: 600px;

        .section__heading {
            margin: 2rem 0 1rem 0;
            margin-bottom: 2rem;
            font-size: 26px;
            color: colour(primary);
            font-weight: weight(regular);
            padding-top: 1.8rem;
        }

        .section__subheading {
            margin: 2rem 0 1rem 0;
            font-size: 20px;
            color: colour(primary);
            font-weight: weight(regular);
        }

        p, li {
            font-size: 18px;
            color: colour(primary);
            font-weight: weight(regular);
            line-height: 1.45;
            margin-top: 2rem;
        }

        li {
            margin-left: 2rem;
        }

        .email {
            margin-top: 5rem;
        }
    }

    // Hero
    section:nth-child(1) {

        .hero {
            &__heading {
                grid-area: heading;
                text-align: center;
                margin-bottom: 2rem;
                font-size: 32px;
                color: colour(primary);
                font-weight: weight(regular);
            }

            &__desc {
                grid-area: desc;
                font-size: 20px;
                color: colour(primary);
                font-weight: weight(regular);
                padding: 0.5em 0;
            }
        }
    }
}