.bio {
  summary {
    display: flex;
    cursor: pointer;

    &::after {
      content: "+";
      font-size: var(--font-size-xl);
      color: var(--colour-foreground);
      flex-grow: 1;
      text-align: end;
    }
  }

  &[open] summary::after {
    content: "-";
  }
}

.note {
  font-size: var(--font-size-xs);
}

.activity-feed {
  margin-top: var(--size-8);

  &__filters {
    display: none;
    grid-gap: var(--size-8);
    text-align: center;
    margin: var(--size-8) 0 var(--size-6) 0;
  }

  .filters {
    &__form {
      width: 100%;
      height: var(--size-9);
      border: var(--size-1) solid var(--colour-middleground);
      border-radius: var(--size-4);

      .form__select, .form__input {
        color: var(--colour-foreground);
        height: 100%;
        width: 85%;
        background-color: transparent;
        border: none;
        outline: none;
        font-size: var(--font-size-s);
        padding-left: var(--size-3);
      }
    }

    &__count {
      color: var(--colour-foreground);
      margin: auto 0;
      width: var(--size-10);
      flex-shrink: 0;
    }
  }

  &__items {
    margin: 0;

    &:hover .activity-feed__item {
      opacity: 0.4;
    }
  }

  &__item {
    list-style: none;
    padding: var(--size-6) 0;
    margin: 0;
    transition-duration: 50ms;

    &:hover {
      opacity: 1 !important;
    }
  }

  .item {
    &__heading {
      display: flex;
    }

    &__link {
      margin-right: auto;
      color: var(--colour-foreground);
    }

    &__title, &__category, &__date, &__author, &__rating {
      margin: 0;
    }

    &__title, &__author {
      font-size: var(--font-size-s);
      color: var(--colour-foreground);
    }

    &__title {
      font-weight: var(--font-weight-regular);
    }

    &__category, &__date, &__author, &__rating {
      color: var(--colour-middleground);
    }

    &__info {
      display: flex;
    }

    &__category, &__date, &__rating {
      font-size: var(--font-size-xs);
      font-family: 'RobotoMono', monospace;
      text-align: end;
    }

    &__category::after {
      content: "•";
      margin: 0 var(--size-4);
    }

    &__rating::after {
      content: "/10";
    }

    &__description {
      font-size: var(--font-size-s);
      margin: var(--size-4) 0 0 0;
    }
  }

  &--books .item__heading {
    display: grid;
    grid-template-columns: 1fr auto;
  }
}

.hobbies__container {
  display: flex;
  grid-gap: var(--size-8);
  margin: var(--size-7) 0;
  
  .hobbies__text {
    margin-top: calc(-1 * var(--size-7));
  }

  .ascii-art {
    font-size: 2.6px;
    font-weight: var(--font-weight-bold);
    line-height: 1.5;
    font-family: monospace;

    &--link {
      text-decoration: none;
    }
  }
}

.dumbphone-screen {
  display: block;
  width: var(--size-13);
  height: var(--size-12);
  margin: 0 auto;
  padding: var(--size-4);
  font-family: 'Inter', sans-serif;
  font-size: var(--font-size-m);
  color: var(--colour-middleground);
  border: var(--size-1) solid var(--colour-middleground);
  border-radius: var(--size-3);
  background-color: var(--colour-background);
}
