// Remove default padding etc
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// Set overflow rules
html {
    overflow-y: scroll;
}

body {
    // Set font family
    font-family: 'Inter', sans-serif;

    // Set bg colour
    background-color: colour(body);

    // Set container rules
    .container {
        margin: 4rem 5%;
        max-width: 1200px;
        min-height: 100vh;
    }
}

// Fade In Animation
.hidden {
    opacity: 0;
    transform: translateY(80px);
    transition: all 0.6s;
}

.visible {
    opacity: 1;
    transform: translateX(0);
}

// Set colour variables
$colours: (
    'body'              : #FEFEFE,
    'body--secondary'   : #bcc2c9,
    'primary'           : #2b3035,
    'secondary'         : #697582,
    'tertiary'          : #9da6af,
    'disabled'          : #7c7f83,
    'accent'            : #0090ff,
);

// Define colour function
@function colour($colour-name) {
    @return map-get($colours, $colour-name)
};

// Set weight variables
$font-weights: (
    'regular': 400,
    'medium' : 500,
    'bold'   : 600
);

// Define weight function
@function weight($weight-name) {
    @return map-get($font-weights, $weight-name)
};

// Set transition variables
$duration: (
    'slow': 200ms,
    'medium': 160ms,
    'fast': 120ms,
);

// Define transition function
@function duration($TD-name) {
    @return map-get($duration, $TD-name)
};


// Reduced Motion
@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

// Mobile
@mixin media-xs {
    @media screen and (max-width: 599px) {
        @content;
    }
}

// Tablet
@mixin media-sm {
    @media screen and (min-width: 600px) {
        @content;
    }
}

// Laptop
@mixin media-md {
    @media screen and (min-width: 900px) {
        @content;
    }
}

// Desktop
@mixin media-lg {
    @media screen and (min-width: 1200px) {
        @content;
    }
}

// Desktop (Large)
@mixin media-xl {
    @media screen and (min-width: 1800px) {
        @content;
    }
}