//  Text font.
:root {
    font-family: Inter, sans-serif;
}

// Text colours.
$text__colour--1     : #102A43;
$text__colour--2     : #243B53;
$text__colour--3     : #334E68;
$text__colour--4     : #486581;
$text__colour--5     : #627D98;
$text__colour--6     : #829AB1;
$text__colour--7     : #9FB3C8;
$text__colour--8     : #BCCCDC;
$text__colour--9     : #D9E2EC;
$text__colour--10    : #F6F9FC;

// Text weights.
$text__weight--1     : 400;
$text__weight--2     : 500;
$text__weight--3     : 600;

// Text sizes.
$text__size--1       : 12px;
$text__size--2       : 14px;
$text__size--3       : 16px;
$text__size--4       : 18px;
$text__size--5       : 20px;
$text__size--6       : 24px;
$text__size--7       : 30px;
$text__size--8       : 36px;
$text__size--9       : 48px;
$text__size--10      : 60px;

// Element sizes.
$element__size--1    : 4px;
$element__size--2    : 8px;
$element__size--3    : 12px;
$element__size--4    : 16px;
$element__size--5    : 24px;
$element__size--6    : 32px;
$element__size--7    : 48px;
$element__size--8    : 64px;
$element__size--9    : 96px;
$element__size--10   : 128px;
$element__size--11   : 192px;
$element__size--12   : 256px;
$element__size--13   : 384px;
$element__size--14   : 512px;
