.essays__cards {
    display: grid;
    grid-gap: 1.5rem;
    margin: 0 0 3rem 0;
}

.essays__link {
    text-decoration: none;
    max-width: 600px;
    margin: 0 auto;
}

.essays__card {
    background-color: colour(bodyL);
    border-radius: 30px;
    transition-duration: duration(fast);
    margin: 0 auto;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    padding: 0.5rem 1rem;

    &:hover {
        outline: solid white 2px;
    }

    &--date {
        color: colour(tertiary);
        font-weight: weight(medium);
    }
    &--title {
        color: colour(primary);
        font-weight: weight(medium);
        padding: 0.5rem 0;
        transition-duration: duration(fast);
    }
    &--summary {
        color: colour(secondary);
        font-weight: weight(regular);
        padding: 0.5em 0;
    }
    &--tags {
        padding: 0.5em 0;
        color: colour(tertiary);
        font-weight: weight(medium);
    }
    &--time {
        padding: 0.5em 0;
        color: colour(tertiary);
        font-weight: weight(medium);
    }
}

.essay__text {
    padding: 2rem 0;
    margin: 0 auto;
    max-width: 600px;

    &--head {
        text-align: center;
        color: colour(primary);
        padding: 1rem 0;
        font-weight: weight(medium);
    }
    &--subhead {
        color: colour(primary);
        padding: 1rem 0;
        font-weight: weight(medium);
    }
    &--body {
        color: colour(secondary);
        font-weight: weight(regular);
        line-height: height(1);
    }
}
