footer {
    width: 100%;
    background-color: colour(primary); 
    padding: 4rem 5%;

    .footer {
        justify-content: center;
        align-items: center;

        &__icons {
            justify-content: center;
            align-items: center;
            max-width: 1200px;
            margin: auto;
        }

        &__icon{
            padding-left: 0.5em;
            transition-duration: duration(fast);

            img {
                height: 25px;
                width: 25px;
            }

            &:hover {
                filter: brightness(1.4);
            }
        }
    }
}