*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    max-width: var(--element-size-16);
    margin: auto;
    background-color: var(--colour-11);

    a {
        text-decoration: none;
        transition-duration: var(--duration-2);
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: var(--element-size-9) 0 var(--element-size-10) 0;

    &__link {
        color: var(--colour-1);
        font-size: var(--text-size-4);
        font-weight: var(--weight-3);

        &:hover {
            color: var(--colour-4);
        }
    }

    &__image {
        height: var(--text-size-4);
    }
}

.main {
    min-height: 100vh;
}

.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    margin: var(--element-size-10) 0 var(--element-size-9) 0;

    &__link {
        font-size: var(--text-size-1);
        color: var(--colour-4);
        padding-bottom: var(--element-size-3);
        border-bottom: var(--element-size-1) solid var(--colour-8);

        &:hover {
            border-bottom: var(--element-size-1) solid var(--colour-2);
        }
    }

    & div:nth-child(3) {
        margin-left: auto;
    }

    &__button {
        width: var(--element-size-8);
        padding: var(--element-size-4);
        margin: 0 auto;
        cursor: pointer;
    }
}

.error {
    color: var(--colour-1);
    font-size: var(--text-size-6);
    font-weight: var(--weight-1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
