.container--index {
    // Hero
    section:nth-child(1) {
        .hero {
            &__image {
                object-fit: none;
                object-position: 50% 65%;
                width: 100%;
                height: 250px;
                margin-bottom: 5rem;
        
                &:hover {
                    border: 2px solid colour(tertiary);
                    transition-duration: duration(fast);
                }
            }
        
            &__heading {
                margin-bottom: 5rem;
                font-size: clamp(1.5rem, 6.25vw, 2.2rem);
                line-height: 1.4em;
                letter-spacing: -0.02em;
                color: colour(primary);
                font-weight: weight(bold);
        
            }
        
            &__subheading {
                font-size: clamp(1.2rem, 6.25vw, 1.8rem);
                color: colour(secondary);
                font-weight: weight(regular);
            }
        }
    }

    section:nth-child(2),
    section:nth-child(3),
    section:nth-child(4),
    section:nth-child(5),
    section:nth-child(6)
    {
        .cards {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 2rem;
            margin: 2rem 0 5rem 0;
            height: fit-content;
        }

        .cards__heading {
            font-size: 16px;
            color: colour(secondary);
            font-weight: weight(medium);
            line-height: height(1);
            letter-spacing: 2px;
            text-transform: uppercase;
        }

        .card {
            text-decoration: none;

            &__heading {
                font-size: 18px;
                color: colour(primary);
                font-weight: weight(medium);
                margin: auto 0;
            }

            &__desc {
                    color: colour(tertiary);
                    font-size: 16px;
                    font-weight: weight(regular);
                    padding: 0.5em 0;
            }

            &--link {
                .card__heading {
                    color: colour(accent);

                    &::after {
                        content: "->";
                        display: inline-block;
                        padding-left: 0.5rem;
                        transition-duration: duration(medium);
                    }
                }
                
                &:hover {
                    .card__heading {
                        color: darken(colour(accent), 10%);
                    }
        
                    .card__heading::after {
                        transform: translateX(10px);
                    } 
                }
            }
        }
    }

    // Latest Work
    section:nth-child(2) {
        .card {
            border-radius: 30px;
            box-shadow: 0px 5px 10px 3px rgba(0,0,0,0.1);
            transition-duration: duration(medium);

            &:hover {
                transform: scale(1.05);
                box-shadow: 0px 4px 10px 5px rgba(0,0,0,0.08);
            }

            &__img {
                width: 100%;
                border-radius: 30px 30px 0 0;
                border-bottom: 2px solid rgba(0,0,0,0.1);
            }

            &__text {
                padding: 1rem;
            }
        }
    }

    // Latest Photos
    section:nth-child(3) {
        .card {
            &__img {
                width: 100%;
                box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
            }
        }
    }

    // Latest Articles
    section:nth-child(4) {
        .card {
            border-radius: 10px;
            box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
            transition-duration: duration(medium);

            &:hover {
                transform: scale(1.1);
                box-shadow: 0px 4px 10px 5px rgba(0,0,0,0.08);
            }

            &__text {
                padding: 1rem;
            }
        }
    }

    // Favourite Books & Latest Book Summaries
    section:nth-child(5), 
    section:nth-child(6) 
    {
        .card {
            border-radius: 10px;
            box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
            display: flex;
            justify-content: space-between;
            position: relative;
            transition-duration: duration(medium);

            &:hover {
                transform: scale(1.1);
                box-shadow: 0px 4px 10px 5px rgba(0,0,0,0.08);
            }

            &__img {
                width: 40%;
                border-radius: 0 10px 10px 0;
            }

            &__text {
                padding: 1rem;
            }

            &__rating {
                position: absolute;
                bottom: 0;
                margin-bottom: 1rem;

                img {
                    height: 20px;
                }
            }
        }
    }
}