.ascii-art {
  width: 100%;
  color: var(--colour-middleground);
  font-size: var(--element-size-3);
  font-weight: var(--font-weight-bold);       
  line-height: 1;
  text-align: center;
  display: table;
  margin: var(--element-size-9) 0 var(--element-size-6) 0;
}
