.hero {
    &__title {
        color: var(--colour-1);
        font-weight: var(--weight-2);
        font-size: var(--text-size-4);
        line-height: 1.45;
        margin-bottom: var(--element-size-7);
    }

    &__description {
        color: var(--colour-5);
        font-weight: var(--weight-1);
        font-size: var(--text-size-3);
        line-height: 1.45;
    }

    &__link {
        color: var(--colour-3);
        border-bottom: var(--element-size-1) solid var(--colour-8);

        &:hover {
            border-bottom: var(--element-size-1) solid var(--colour-2);
        }
    }
}

.filters {
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
    grid-gap: var(--element-size-8);
    margin: var(--element-size-11) 0 var(--element-size-8) 0;
    text-align: center;

    &__form {
        width: 100%;
        height: var(--element-size-9);
        border-radius: var(--element-size-7);
        border: var(--element-size-1) solid var(--colour-8);
        box-shadow: inset 0 var(--element-size-1) var(--element-size-2) var(--colour-10);

        .form {
            &__select, &__input {
                font-family: 'Inter';
                color: var(--colour-1);
                height: 100%;
                width: 80%;
                background-color: var(--colour-11);
                border: none;
                outline: none;
                font-size: var(--text-size-2);
            }
        }
    }

    &__count {
        color: var(--colour-1);
        margin: auto 0;
    }
}

.feed {
    display: flex;
    flex-direction: column;

    &__item {
        margin: var(--element-size-4) calc(var(--element-size-6) * -1);
        padding: var(--element-size-6);
        border-radius: var(--element-size-9);
        transition-duration: var(--duration-1);

        &:hover {
            background-color: var(--colour-10);
        }
    }

    &__category, &__date {
        color: var(--colour-5);
        font-weight: var(--weight-1);
        font-size: var(--text-size-1);
        font-family: 'RobotoMono', monospace;
        margin-top: calc(var(--element-size-1) * -1);
    }

    &__category {
        width: var(--element-size-10);
        grid-area: feed__category;
    }

    &__title {
        color: var(--colour-1);
        font-weight: var(--weight-1);
        font-size: var(--text-size-2);
        grid-area: feed__title;
    }

    &__spacer {
        flex: 1 1 0%;
        position: relative;
        width: 100%;
        margin: auto 0;

        &::before {
            content: "";
            background-color: var(--colour-9);
            position: absolute;
            height: var(--element-size-1);
            margin: 0 var(--element-size-5);
            width: calc(100% - (var(--element-size-5) * 2));
        }
    }

    &__date {
        grid-area: feed__date;
    }
}
