.nav {
    margin: auto;
    max-width: 1200px;
    text-align: center;
    color: colour(disabled);

    &__link {
        text-decoration: none;
        color: colour(secondary);
        font-weight: weight(medium);
        margin: 0 0.5em;
        transition-duration: duration(fast);

        &:hover{
            color: colour(primary);
        }
    }

    .disabled {
        color: colour(disabled);
        pointer-events: none;
    }
}