.container__photos {
    .section {
        &__card {
            margin: 0 auto;
            max-width: 600px;
            @include flexCenter (column);
            background: colour(body);
            position: relative;
            box-shadow: 0px 5px 10px 3px rgba(0,0,0,0.1);
            opacity: 0;
            animation: fadein--body 1.2s forwards;

            &--img {
                display: block;
                width: 100%;
                object-fit: cover;
                border: none;
                border-radius: 0;
            }

            &--location {
                font-size: 20px;
                color: colour(body);
                font-weight: 400;
                line-height: height(1);
                letter-spacing: 2px;
                text-transform: uppercase;
                margin-bottom: auto;
                opacity: 0;
                position: absolute;
                top: 5%;
            }

            &--visit {
                font-size: 18px;
                color: colour(body);
                font-weight: 400;
                text-decoration: none;
                opacity: 0;
                position: absolute;
                top: 82%;
                padding: 0.2em 0;

                &::after {
                    content: "->";
                    display: inline-block;
                    padding-left: 0.5rem;
                    transition-duration: duration(medium);
                }
            
                &:hover {
                    color: colour(accent);

                    &:after {
                        transform: translate(10px);

                    }
                }
            }

            &:hover {
                img {
                    filter: brightness(20%);
                }
                h2, p, a {
                    animation-delay: 1s;
                    transition-duration: duration(medium);
                    transform: translateY(0);
                    opacity: 1;
                }
            }

            &--text {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(6, 1fr);
                position: absolute;
                transition-duration: duration(slow);
            }
        }

        &__text {
            &--desc {
                font-size: 14px;
                color: colour(body--secondary);
                text-decoration: none;
                opacity: 0;
                transition-duration: duration(medium);
                padding: 0 0.8em;
                transform: translateY(100px);
            }
        }
    }
}