.photos__cards {
    padding: 3rem 0 6rem 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2em;
}

@for $i from 1 through 7 {
    .photos__card:nth-child(#{$i}) {
        animation-delay: 0.1s * $i;
    }
} 

.photos__card {
    margin: 0 auto;
    max-width: 600px;
    @include flexCenter (column);
    background: colour(body);
    position: relative;
    box-shadow: 0px 3px 8px 4px rgba(0,0,0,0.5);
    opacity: 0;
    animation: fadein 1.2s forwards;

    &:hover {
        outline: 2px solid white;
        img {
            filter: blur(3px) brightness(30%);
        }
        h2, p, a {
            animation-delay: 1s;
            transition-duration: duration(medium);
            transform: translateY(0);
            opacity: 1;
        }
    }

    &--img {
        display: block;
        width: 100%;
        object-fit: cover;
    }
    &--location {
        color: colour(primary);
        font-weight: weight(regular);
        line-height: height(1.125);
        margin-bottom: auto;
        opacity: 0;
        position: absolute;
        top: 5%;
    }
    &--visit {
        color: colour(primary);
        font-size: size(secondary);
        text-decoration: none;
        opacity: 0;
        position: absolute;
        top: 88%;
        padding: 0.2em 0;

        &:after {
            content:'';
            position: absolute;
            width: 100%;
            height: 1px;
            bottom: 0;
            left: 0;
            background-color: colour(primary);
            transform: scaleX(0);
            transform-origin: bottom right;
            transition: transform 0.2s;
        }
    
        &:hover {
            box-shadow: 0px -2px 2px 0px #00000000;
            
            &:after {
                transform-origin: bottom left;
                transform: scaleX(1);
            }
        }
    }

    &--location, &--visit{
        transform: translateY(100px);
    }
}

.photos__details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    position: absolute;
    transition-duration: duration(slow);

    &--info {
        color: colour(secondary);
        text-decoration: none;
        opacity: 0;
        transition-duration: duration(medium);
        padding: 0 0.8em;
        transform: translateY(100px);
    }
}