@media screen and (max-width: 599px) {
  body {
    margin: 0 calc((600px - var(--element-size-16)) / 2);
  }

  .activity-feed {
    &__filters {
      grid-gap: var(--element-size-5);
      justify-content: space-between;
    }

    .filters__form {
      max-width: var(--element-size-13);
    }

    .item {
      &__heading {
        flex-direction: column;
      }

      &__info {
        margin-top: var(--element-size-4);
      }
    }
  }

  .hobbies__container {
    flex-direction: column;

    .ascii-art {
      display: table;
      margin: 0 auto;
    }
  }
}
