// Dark Mode
@include media-dark {

}

// Mobile - =< 599px
@include media-xs {

}

// Tablet - >= 600px
@include media-sm {
    .nav {
        // padding: 0 5em;
    }

    body {
        .photography__cards {
            grid-template-columns: repeat(2, 1fr);
        }

        .books__card{
            flex-direction:row;

            &--img {
                align-items: flex-end;
                width: 40%;
                border-radius: 0 30px 30px 0;
            }
        }
    }
}

// Laptop - >= 900px
@include media-md {

}

// Desktop - >= 1200px
@include media-lg {
    body {
        .index__about {
            display: flex;

            &--profile {
                margin-left: 2rem;
                padding: 2rem 0;
                width: 50%;
            }
        }

        .essays__cards {
            grid-template-columns: repeat(2, 1fr);
        }

        .books__cards {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

// Desktop (Large) - >= 1800px
@include media-xl {

}
