@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Regular-Latin.woff2') format('woff2');
  src: url('../fonts/Inter-Regular-Latin.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'RobotoMono';
  src: url('../fonts/RobotoMono-Regular-Latin.woff2') format('woff2');
  src: url('../fonts/RobotoMono-Regular-Latin.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --colour-background: #FFF;
  --colour-middleground: #444;
  --colour-foreground: #000;
  --colour-highlight: #BBB;

  --font-weight-regular: 400;
  --font-weight-bold: 600;

  --font-size-xs: 0.75rem;
  --font-size-s: 0.85rem;
  --font-size-m: 1rem;
  --font-size-l: 1.25rem;
  --font-size-xl: 1.5rem;

  --element-size-1: 1px;
  --element-size-2: 2px;
  --element-size-3: 4px;
  --element-size-4: 8px;
  --element-size-5: 12px;
  --element-size-6: 16px;
  --element-size-7: 24px;
  --element-size-8: 32px;
  --element-size-9: 48px;
  --element-size-10: 64px;
  --element-size-11: 96px;
  --element-size-12: 128px;
  --element-size-13: 192px;
  --element-size-14: 256px;
  --element-size-15: 384px;
  --element-size-16: 512px;
}

.dark-mode {
  --colour-background: #000;
  --colour-middleground: #BBB;
  --colour-foreground: #FFF;
  --colour-highlight: #444;
}
