.container--workpages {
    display: flex;
    flex-direction: column;
    align-items: center;

    .content {
        margin: 0 auto;

        &__heading {
            text-align: center;
            margin-bottom: 2rem;
            font-size: 32px;
            color: colour(primary);
            font-weight: weight(regular);
        }
    
        &__desc {
            font-size: 20px;
            color: colour(primary);
            font-weight: weight(regular);
            margin-bottom: 1.8rem;
        }

        &__text {
            width: 100%;
            max-width: 600px;
        }

        &__img {
            padding: 2rem 0;
            width: 100%;
            max-width: 800px;
            margin: 0 auto;
        }

        &__subheading {
            margin: 2rem 0 1rem 0;
            font-size: 26px;
            color: colour(primary);
            font-weight: weight(regular);
            padding-top: 1.8rem;
        }

        &__notes {
            text-decoration: none;
            margin-bottom: 2rem;
    
            li {
                font-size: 14px;
                color: colour(primary);
                font-weight: weight(medium);
                line-height: 1.45;
                margin: 0.2rem 0;
            }   
        }

        &__link {
            text-decoration: none;
            color: colour(accent);
        }
    }
}