.article {
    &__header {
        margin-bottom: var(--element-size-9);

        .header {
            &__title {
                color: var(--colour-1);
                font-weight: var(--weight-2);
                font-size: var(--text-size-5);
                letter-spacing: -0.25px;
            }

            &__date {
                display: block;
                padding-top: var(--element-size-3);
                color: var(--colour-5);
                font-size: var(--text-size-1);
                font-weight: var(--weight-1);
            }

            &__description {
                color: var(--colour-1);
                font-weight: var(--weight-1);
                font-size: var(--text-size-3);
                line-height: 1.5;
                margin: var(--element-size-7) 0;
                font-style: italic;
            }
        }
    }

    &__content {
        .content {
            &__heading {
                color: var(--colour-1);
                font-weight: var(--weight-2);
                font-size: var(--text-size-4);
                letter-spacing: -0.25px;
                margin: var(--element-size-9) 0 var(--element-size-7) 0;
            }

            &__text, &__summary {
                color: var(--colour-1);
                font-weight: var(--weight-1);
                font-size: var(--text-size-3);
                line-height: 1.5;
                margin: var(--element-size-7) 0;
            }

            &__list {
                margin: var(--element-size-7) 0;

                .list__item {
                    color: var(--colour-1);
                    font-weight: var(--weight-1);
                    font-size: var(--text-size-3);
                    line-height: 1.5;
                    margin: var(--element-size-6) 0 var(--element-size-6) var(--element-size-6);
                }
            }

            &__superscript {
                color: var(--colour-4);
                padding: 0 2px;
            }

            &__link {
                color: var(--colour-4);
                border-bottom: var(--element-size-1) solid var(--colour-8);

                &:hover {
                    border-bottom: var(--element-size-1) solid var(--colour-2);
                }
            }

            &__quote {
                border-left: var(--element-size-3) solid var(--colour-8);
                padding: var(--element-size-3) 0 var(--element-size-3) var(--element-size-6);
                margin: var(--element-size-7) 0;

                .quote {
                    &__text {
                        color: var(--colour-1);
                        font-weight: var(--weight-1);
                        font-size: var(--text-size-3);
                        line-height: 1.5;
                        margin-bottom: var(--element-size-5);
                    }

                    &__author {
                        color: var(--colour-1);
                        font-weight: var(--weight-2);
                        font-size: var(--text-size-3);
                    }
                }
            }

            &__code {
                background-color: var(--colour-10);
                border: 1px solid var(--colour-9);
                border-radius: 10px;
                margin: var(--element-size-7) 0;
             }

            &__image {
                display: block;
                width: 100%;
                margin: var(--element-size-8) 0;
            }

            &__table {
                border-collapse: collapse;
                color: var(--colour-1);
                margin: var(--element-size-8) 0;

                .table {
                    &__row, &__header, &__data {
                        border: var(--element-size-1) solid var(--colour-9);
                        font-size: var(--text-size-2);
                    }
                    &__header, &__data {
                        font-weight: var(--weight-1);
                        padding: var(--element-size-5);
                        text-align: left;
                    }
                    &__header {
                        background-color: var(--colour-10);
                        font-weight: var(--weight-2);
                    }
                }

                &--books {
                    & td:nth-child(3), & td:nth-child(4) {
                        text-align:center;
                    }
                    & th:nth-child(4) {
                        width: var(--element-size-12);
                    }
                    & td:nth-child(4) {
                        font-family: 'RobotoMono', monospace;
                    }
                }
            }

            &__details {
                margin: var(--element-size-7) 0;

                .content__text, .list__item {
                    font-size: var(--text-size-2);
                }
            }
        }
    }
}
