@charset "UTF-8";
@font-face {
  font-family: 'Inter';
  src: url("../fonts/Inter-Regular-Latin.woff2") format("woff2");
  src: url("../fonts/Inter-Regular-Latin.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'RobotoMono';
  src: url("../fonts/RobotoMono-Regular-Latin.woff2") format("woff2");
  src: url("../fonts/RobotoMono-Regular-Latin.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

:root {
  --colour-background: #FFF;
  --colour-middleground: #444;
  --colour-foreground: #000;
  --colour-highlight: #BBB;
  --font-weight-regular: 400;
  --font-weight-bold: 600;
  --font-size-xs: 0.75rem;
  --font-size-s: 0.85rem;
  --font-size-m: 1rem;
  --font-size-l: 1.25rem;
  --font-size-xl: 1.5rem;
  --element-size-1: 1px;
  --element-size-2: 2px;
  --element-size-3: 4px;
  --element-size-4: 8px;
  --element-size-5: 12px;
  --element-size-6: 16px;
  --element-size-7: 24px;
  --element-size-8: 32px;
  --element-size-9: 48px;
  --element-size-10: 64px;
  --element-size-11: 96px;
  --element-size-12: 128px;
  --element-size-13: 192px;
  --element-size-14: 256px;
  --element-size-15: 384px;
  --element-size-16: 512px;
  font-family: 'Inter', sans-serif; }

.dark-mode {
  --colour-background: #000;
  --colour-middleground: #BBB;
  --colour-foreground: #FFF;
  --colour-highlight: #444; }

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  background-color: var(--colour-background);
  max-width: var(--element-size-16);
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  margin: auto; }

p {
  color: var(--colour-middleground);
  font-size: var(--font-size-m);
  line-height: 1.45; }

a {
  color: var(--colour-middleground); }

nav, footer {
  display: flex;
  justify-content: space-between;
  margin: var(--element-size-9) 0; }
  nav a, footer a {
    font-size: var(--font-size-xs); }

nav .theme-toggle-button {
  cursor: pointer;
  height: var(--element-size-6);
  width: auto;
  margin: 0; }

header {
  margin-top: var(--element-size-9); }
  header h1 {
    color: var(--colour-foreground);
    font-size: var(--font-size-xl);
    letter-spacing: 0.2px; }
  header time {
    display: inline-block;
    font-size: var(--font-size-xs);
    color: var(--colour-middleground);
    margin-top: var(--element-size-4); }
  header p {
    margin-top: var(--element-size-7); }

main {
  margin-bottom: var(--element-size-7); }
  main h2 {
    color: var(--colour-foreground);
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-regular);
    margin: var(--element-size-9) 0 var(--element-size-7) 0; }
  main p {
    margin: var(--element-size-7) 0; }
  main ol, main ul {
    margin: var(--element-size-7) 0 var(--element-size-7) var(--element-size-7); }
    main ol li, main ul li {
      color: var(--colour-middleground);
      font-size: var(--font-size-m);
      line-height: 1.45;
      margin: var(--element-size-5) 0; }
  main img {
    display: block;
    width: 100%;
    margin: var(--element-size-8) 0; }
  main figure {
    border-left: var(--element-size-3) solid var(--colour-highlight);
    padding-left: var(--element-size-5);
    margin: var(--element-size-7) 0; }
    main figure p {
      margin-bottom: var(--element-size-4); }
    main figure figcaption {
      color: var(--colour-middleground);
      font-weight: var(--font-weight-bold); }
  main sub, main sup {
    display: inline-block;
    color: var(--colour-middleground);
    font-size: var(--font-size-xs); }
  main code {
    background: none !important;
    padding: 0 !important;
    margin: var(--element-size-7) 0;
    max-width: var(--element-size-16); }
  main details {
    color: var(--colour-foreground);
    border: var(--element-size-1) solid var(--colour-middleground);
    border-radius: var(--element-size-5);
    margin: var(--element-size-7) 0; }
    main details[open] summary {
      border-bottom: var(--element-size-1) solid var(--colour-middleground);
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0; }
    main details summary {
      background-color: var(--colour-highlight);
      font-weight: var(--font-weight-bold);
      border-radius: var(--element-size-5);
      padding: var(--element-size-5);
      cursor: pointer; }
    main details p, main details ol, main details ul {
      font-size: var(--font-size-s); }
    main details p {
      margin: var(--element-size-5); }
    main details ol, main details ul {
      margin: var(--element-size-5) 0 var(--element-size-5) var(--element-size-7); }
      main details ol li, main details ul li {
        margin: var(--element-size-4); }
  main table {
    border-collapse: separate;
    border-spacing: 0;
    color: var(--colour-foreground);
    font-size: var(--font-size-s); }
    main table tr td:first-child, main table tr th:first-child {
      border-left: var(--element-size-1) solid var(--colour-middleground); }
    main table tr th, main table tr td {
      border-bottom: var(--element-size-1) solid var(--colour-middleground);
      border-right: var(--element-size-1) solid var(--colour-middleground);
      padding: var(--element-size-5); }
    main table tr th {
      background-color: var(--colour-highlight);
      font-weight: var(--font-weight-bold);
      text-align: left;
      border-top: var(--element-size-1) solid var(--colour-middleground); }
    main table tr:first-child th:first-child {
      border-top-left-radius: var(--element-size-5); }
    main table tr:first-child th:last-child {
      border-top-right-radius: var(--element-size-5); }
    main table tr:last-child td:first-child {
      border-bottom-left-radius: var(--element-size-5); }
    main table tr:last-child td:last-child {
      border-bottom-right-radius: var(--element-size-5); }

.ascii-art {
  width: 100%;
  color: var(--colour-foreground);
  font-size: var(--element-size-3);
  font-weight: var(--font-weight-bold);
  line-height: 1;
  text-align: center;
  display: table;
  margin-bottom: var(--element-size-11); }

.activity-feed__filters {
  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
  grid-gap: var(--element-size-8);
  text-align: center;
  margin: var(--element-size-9) 0 var(--element-size-7) 0; }

.activity-feed .filters__form {
  width: 100%;
  height: var(--element-size-9);
  border: var(--element-size-1) solid var(--colour-middleground);
  border-radius: var(--element-size-4); }
  .activity-feed .filters__form .form__select, .activity-feed .filters__form .form__input {
    color: var(--colour-foreground);
    height: 100%;
    width: 85%;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: var(--font-size-s);
    padding-left: var(--element-size-3); }

.activity-feed .filters__count {
  color: var(--colour-foreground);
  margin: auto 0; }

.activity-feed__items {
  margin: 0; }

.activity-feed__item {
  list-style: none;
  margin: var(--element-size-7) 0; }

.activity-feed .item__heading {
  display: flex; }

.activity-feed .item__link {
  flex-grow: 1;
  color: var(--colour-foreground); }

.activity-feed .item__title {
  font-size: var(--font-size-s); }

.activity-feed .item__category, .activity-feed .item__date {
  font-family: 'RobotoMono', monospace;
  font-size: var(--font-size-xs);
  color: var(--colour-middleground);
  text-align: end;
  margin: 0; }

.activity-feed .item__category::after {
  content: "•";
  margin: var(--element-size-4); }

.activity-feed .item__description {
  font-size: var(--font-size-s);
  margin-top: var(--element-size-4); }

@media screen and (max-width: 599px) {
  body {
    margin: var(--element-size-8); }
  .ascii-art {
    font-size: var(--element-size-2); }
  .activity-feed__filters {
    display: flex;
    flex-direction: column; }
  .activity-feed__item {
    margin: var(--element-size-9) 0; }
  .activity-feed .item__heading {
    flex-direction: column; }
  .activity-feed .item__title, .activity-feed .item__category, .activity-feed .item__date {
    text-align: center; }
  .activity-feed .item__category {
    margin-top: var(--element-size-4); }
    .activity-feed .item__category::after {
      content: "";
      margin: 0; }
  .activity-feed .item__date {
    margin-top: var(--element-size-2); } }
