@import 'config', 'index', 'nav', 'responsive';

body {
    h1 {
        font-size: size(text--xl);
        line-height: lineHeight(3);
    }
    h2 {
        font-size: size(text--md);
        line-height: lineHeight(1.5625);
    }
    h3 {
        font-size: size(text--sm);
        line-height: lineHeight(1.15);
    }
    h4 {
        font-size: size(text--sm);
        line-height: lineHeight(1.15);
    }
    p {
        font-size: size(text--xs);
        line-height: lineHeight(1);
    }
    li {
        font-size: size(text--xs);
        line-height: lineHeight(1);
    }
}