@charset "UTF-8";
@font-face {
  font-family: 'Inter';
  src: url("../fonts/Inter-Regular-Latin.woff2") format("woff2");
  src: url("../fonts/Inter-Regular-Latin.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'RobotoMono';
  src: url("../fonts/RobotoMono-Regular-Latin.woff2") format("woff2");
  src: url("../fonts/RobotoMono-Regular-Latin.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

:root {
  --colour-background: #FFF;
  --colour-middleground: #444;
  --colour-foreground: #000;
  --colour-highlight: #BBB;
  --font-weight-regular: 400;
  --font-weight-bold: 600;
  --font-size-xs: 0.75rem;
  --font-size-s: 0.85rem;
  --font-size-m: 1rem;
  --font-size-l: 1.25rem;
  --font-size-xl: 1.5rem;
  --size-1: 1px;
  --size-2: 2px;
  --size-3: 4px;
  --size-4: 8px;
  --size-5: 12px;
  --size-6: 16px;
  --size-7: 24px;
  --size-8: 32px;
  --size-9: 48px;
  --size-10: 64px;
  --size-11: 96px;
  --size-12: 128px;
  --size-13: 192px;
  --size-14: 256px;
  --size-15: 384px;
  --size-16: 512px; }

.dark-mode {
  --colour-background: #000;
  --colour-middleground: #BBB;
  --colour-foreground: #FFF;
  --colour-highlight: #444; }

:root {
  font-family: 'Inter', sans-serif; }

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  background-color: var(--colour-background);
  max-width: var(--size-16);
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  margin: auto; }

p {
  color: var(--colour-middleground);
  font-size: var(--font-size-m);
  line-height: 1.45; }

a {
  color: var(--colour-middleground); }

nav, footer {
  display: flex;
  justify-content: space-between;
  margin: var(--size-9) 0; }
  nav a, footer a {
    font-size: var(--font-size-xs); }

nav .theme-toggle-button {
  cursor: pointer;
  height: var(--size-6);
  width: auto;
  margin: 0; }

header {
  margin-top: var(--size-9); }
  header h1 {
    color: var(--colour-foreground);
    font-size: var(--font-size-xl); }
  header time {
    display: inline-block;
    font-size: var(--font-size-xs);
    color: var(--colour-middleground);
    margin-top: var(--size-4); }
  header p {
    margin-top: var(--size-7); }

main {
  margin-bottom: var(--size-7); }
  main h2 {
    color: var(--colour-foreground);
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-regular);
    margin: var(--size-9) 0 var(--size-7) 0; }
  main p {
    margin: var(--size-7) 0; }
  main ol, main ul {
    margin: var(--size-7) 0 var(--size-7) var(--size-7); }
    main ol li, main ul li {
      color: var(--colour-middleground);
      font-size: var(--font-size-m);
      line-height: 1.45;
      margin: var(--size-5) 0; }
  main img {
    display: block;
    width: 100%;
    margin: var(--size-8) 0; }
  main figure {
    border-left: var(--size-3) solid var(--colour-highlight);
    padding-left: var(--size-5);
    margin: var(--size-7) 0; }
    main figure p {
      margin-bottom: var(--size-4); }
    main figure figcaption {
      color: var(--colour-middleground);
      font-weight: var(--font-weight-bold); }
  main sub, main sup {
    display: inline-block;
    color: var(--colour-middleground);
    font-size: var(--font-size-xs); }
  main code {
    background: none !important;
    padding: 0 !important;
    margin: var(--size-7) 0;
    max-width: var(--size-16); }
  main table {
    border-collapse: collapse;
    font-size: var(--font-size-s);
    margin: var(--size-7) 0; }
    main table th, main table td {
      border: var(--size-1) solid var(--colour-middleground);
      padding: var(--size-5); }
    main table th {
      color: var(--colour-foreground);
      font-weight: var(--font-weight-bold);
      text-align: left; }
    main table td {
      color: var(--colour-middleground); }

.bio summary {
  display: flex;
  cursor: pointer; }
  .bio summary::after {
    content: "+";
    font-size: var(--font-size-xl);
    color: var(--colour-foreground);
    flex-grow: 1;
    text-align: end; }

.bio[open] summary::after {
  content: "-"; }

.note {
  font-size: var(--font-size-xs); }

.activity-feed {
  margin-top: var(--size-8); }
  .activity-feed__filters {
    display: none;
    grid-gap: var(--size-8);
    text-align: center;
    margin: var(--size-8) 0; }
  .activity-feed .filters__form {
    width: 100%;
    height: var(--size-9);
    border: var(--size-1) solid var(--colour-middleground);
    border-radius: var(--size-4); }
    .activity-feed .filters__form .form__select, .activity-feed .filters__form .form__input {
      color: var(--colour-foreground);
      height: 100%;
      width: 85%;
      background-color: transparent;
      border: none;
      outline: none;
      font-size: var(--font-size-s);
      padding-left: var(--size-3); }
  .activity-feed .filters__count {
    color: var(--colour-foreground);
    margin: auto 0;
    width: var(--size-10);
    flex-shrink: 0; }
  .activity-feed__items {
    margin: 0; }
  .activity-feed__item {
    list-style: none;
    margin: var(--size-8) 0; }
  .activity-feed .item__heading {
    display: flex; }
  .activity-feed .item__link {
    margin-right: auto;
    color: var(--colour-foreground); }
  .activity-feed .item__title, .activity-feed .item__category, .activity-feed .item__date, .activity-feed .item__author, .activity-feed .item__rating {
    margin: 0; }
  .activity-feed .item__title, .activity-feed .item__author {
    font-size: var(--font-size-s);
    color: var(--colour-foreground); }
  .activity-feed .item__title {
    font-weight: var(--font-weight-regular); }
  .activity-feed .item__category, .activity-feed .item__date, .activity-feed .item__author, .activity-feed .item__rating {
    color: var(--colour-middleground); }
  .activity-feed .item__info {
    display: flex; }
  .activity-feed .item__category, .activity-feed .item__date, .activity-feed .item__rating {
    font-size: var(--font-size-xs);
    font-family: 'RobotoMono', monospace;
    text-align: end; }
  .activity-feed .item__category::after {
    content: "•";
    margin: 0 var(--size-4); }
  .activity-feed .item__rating::after {
    content: "/10"; }
  .activity-feed .item__description {
    font-size: var(--font-size-s);
    margin-top: var(--size-4); }
  .activity-feed--books .item__heading {
    display: grid;
    grid-template-columns: 1fr auto; }

.hobbies__container {
  display: flex;
  grid-gap: var(--size-8);
  margin: var(--size-7) 0; }
  .hobbies__container .hobbies__text {
    margin-top: calc(-1 * var(--size-7)); }
  .hobbies__container .ascii-art {
    font-size: 2.6px;
    font-weight: var(--font-weight-bold);
    line-height: 1.5;
    font-family: monospace; }
    .hobbies__container .ascii-art--link {
      text-decoration: none; }

.dumbphone-screen {
  display: block;
  width: var(--size-13);
  height: var(--size-12);
  margin: 0 auto;
  padding: var(--size-4);
  font-family: 'Inter', sans-serif;
  font-size: var(--font-size-m);
  color: var(--colour-middleground);
  border: var(--size-1) solid var(--colour-middleground);
  border-radius: var(--size-3);
  background-color: var(--colour-background); }

@media screen and (max-width: 599px) {
  body {
    margin: 0 calc((600px - var(--size-16)) / 2); }
  .activity-feed__filters {
    grid-gap: var(--size-5);
    justify-content: space-between; }
  .activity-feed .filters__form {
    max-width: var(--size-13); }
  .activity-feed .item__heading {
    flex-direction: column; }
  .activity-feed .item__info {
    margin-top: var(--size-4); }
  .hobbies__container {
    flex-direction: column; }
    .hobbies__container .ascii-art {
      display: table;
      margin: 0 auto; } }
