*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow-y: scroll;
}

body {
  font-family: "Inter", sans-serif;
}

body {
  background-color: #FEFEFE;
}
body .container {
  margin: 0 5%;
  max-width: 1200px;
  min-height: 100vh;
}
body header-container, body header-container-sub {
  display: flex;
  align-items: center;
}
body header {
  margin: 0 5%;
  width: 100%;
  max-width: 1200px;
  padding: 1rem 0;
  border-bottom: 1px solid #9da6af;
  font-size: 1.5rem;
  text-align: center;
  display: flex;
  height: 6rem;
  justify-content: center;
  position: relative;
  opacity: 0;
  -webkit-animation: fadein--nav 0.4s forwards;
          animation: fadein--nav 0.4s forwards;
}
body header a {
  text-decoration: none;
  color: #2b3035;
  z-index: 2;
}
body .nav__item:nth-child(1) {
  transition-delay: 0.1s;
}
body .nav__item:nth-child(2) {
  transition-delay: 0.2s;
}
body .nav__item:nth-child(3) {
  transition-delay: 0.3s;
}
body .nav__item:nth-child(4) {
  transition-delay: 0.4s;
}
body .nav__item:nth-child(5) {
  transition-delay: 0.5s;
}
body .burger {
  justify-content: flex-end;
  border-radius: 50px;
  position: absolute;
  z-index: 2;
  top: 2.25rem;
  right: 5vw;
  height: 20px;
  width: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  -webkit-animation: fadein--nav 0.4s forwards;
          animation: fadein--nav 0.4s forwards;
}
body .burger.open {
  position: fixed;
}
body .burger__menu {
  margin: auto;
  position: absolute;
  width: 25px;
  height: 3px;
  background: #2b3035;
  transition: all 0.3s ease-in-out;
}
body .burger__menu::before {
  content: "";
  position: absolute;
  top: -8px;
  right: 0px;
  width: 25px;
  height: 3px;
  background: #2b3035;
  transition: all 0.3s ease-in-out;
}
body .burger__menu::after {
  content: "";
  position: absolute;
  top: 8px;
  right: 0px;
  width: 20px;
  height: 3px;
  background: #2b3035;
  transition: all 0.3s ease-in-out;
}
body .burger__menu.open {
  background: #9da6af;
  transform: rotate(-45deg);
}
body .burger__menu.open::before {
  background: #9da6af;
  transform: translateY(8px) rotate(90deg);
}
body .burger__menu.open::after {
  background: transparent;
}
body .nav {
  background: #2b3035;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  visibility: hidden;
  width: 300px;
  height: 100%;
  transform: translateX(100%);
  transition: all 0.4s ease;
  padding-top: 6rem;
}
body .nav.open {
  visibility: visible;
  transform: translateX(0);
}
body .nav__menu {
  list-style-type: none;
  margin: 0 2rem;
  border-top: 1px solid #9da6af;
  border-bottom: 1px solid #9da6af;
}
body .nav__item {
  align-items: center;
  transform: translateX(50vw);
  transition: all 0.2s ease;
  padding: 0.5rem 0;
}
body .nav__item.open {
  transform: translateX(0);
}
body .nav__link {
  text-decoration: none;
  color: #FEFEFE;
  font-weight: 600;
  font-size: 14px;
  transition-duration: 120ms;
}
body .nav__link:hover {
  color: #0090ff;
}
body .nav__icons {
  padding: 1rem 2rem;
  justify-content: center;
  align-items: center;
}
body .nav__icon {
  filter: brightness(1.8);
  text-decoration: none;
  transition-duration: 120ms;
}
body .nav__icon img {
  height: 25px;
  width: 25px;
}
body .nav__icon:hover {
  filter: brightness(1);
}
body footer {
  width: 100%;
  background-color: #2b3035;
  padding: 4rem 5%;
}
body footer .footer {
  justify-content: center;
  align-items: center;
}
body footer .footer__icons {
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: auto;
}
body footer .footer__icon {
  padding-left: 0.5em;
  transition-duration: 120ms;
}
body footer .footer__icon img {
  height: 25px;
  width: 25px;
}
body footer .footer__icon:hover {
  filter: brightness(1.4);
}
body .section__card--link:nth-child(1) {
  -webkit-animation-delay: 0.275s;
          animation-delay: 0.275s;
}
body .section__card--link:nth-child(2) {
  -webkit-animation-delay: 0.35s;
          animation-delay: 0.35s;
}
body .section__card--link:nth-child(3) {
  -webkit-animation-delay: 0.425s;
          animation-delay: 0.425s;
}
body .section__card--link:nth-child(4) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
body .section__card--link:nth-child(5) {
  -webkit-animation-delay: 0.575s;
          animation-delay: 0.575s;
}
body .section__card--link:nth-child(6) {
  -webkit-animation-delay: 0.65s;
          animation-delay: 0.65s;
}
body .section__card--link:nth-child(7) {
  -webkit-animation-delay: 0.725s;
          animation-delay: 0.725s;
}
body .section__card--link:nth-child(8) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}
body .section__card--link:nth-child(9) {
  -webkit-animation-delay: 0.875s;
          animation-delay: 0.875s;
}
body .section__card--link:nth-child(10) {
  -webkit-animation-delay: 0.95s;
          animation-delay: 0.95s;
}
body .section__card--link {
  opacity: 0;
  -webkit-animation: fadein--body 1.2s forwards;
          animation: fadein--body 1.2s forwards;
}
body .section__cards {
  display: grid;
  grid-gap: 2rem;
  margin: 2rem 0 5rem 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
body .section__cards--heading {
  font-size: 12px;
  color: #697582;
  font-weight: 500;
  line-height: 1.45;
  letter-spacing: 2px;
  text-transform: uppercase;
}
body .section__card {
  transition-duration: 120ms;
  display: grid;
}
body .section__card:hover .section__text--heading {
  color: #0090ff;
}
body .section__card:hover .section__text--heading::after {
  transform: translateX(10px);
}
body .section__card--link {
  text-decoration: none;
}
body .section__card--img {
  width: 100%;
  border-radius: 30px 30px 0 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}
body .section__card--text {
  display: grid;
}
body .section__card--border {
  border-radius: 30px;
  box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.1);
}
body .section__card--border .section__card--text {
  grid-template-rows: 1fr 2fr 3fr 1fr;
  padding: 0.5rem 1rem;
}
body .section__text--timestamp {
  color: #9da6af;
  font-size: 14px;
  font-weight: 400;
  margin: auto 0;
}
body .section__text--heading {
  font-size: 18px;
  color: #2b3035;
  font-weight: 500;
  margin: auto 0;
}
body .section__text--desc {
  color: #9da6af;
  font-size: 14px;
  font-weight: 400;
  padding: 0.5em 0;
}
body .section__text--tags {
  font-size: 14px;
  color: #697582;
  font-weight: 400;
  margin: auto auto 0 0;
  padding: 0.5em 0;
}
body .section__footernote {
  text-align: center;
  font-size: 12px;
  color: #697582;
  font-weight: 500;
  line-height: 1.45;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 4rem;
}
body .container__content {
  opacity: 0;
  -webkit-animation: fadein--body 1.2s 0.4s forwards;
          animation: fadein--body 1.2s 0.4s forwards;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body .container__content .content__heading {
  text-align: center;
  margin: 2rem 0;
  font-size: clamp(1.5rem, 6.25vw, 2.2rem);
  line-height: 1.4em;
  letter-spacing: -0.02em;
  color: #697582;
  font-weight: 400;
}
body .container__content .content__subheading {
  margin: 2rem 0 1rem 0;
  font-size: clamp(1.3rem, 6.25vw, 1.6rem);
  line-height: 1.4em;
  letter-spacing: -0.02em;
  color: #697582;
  font-weight: 400;
}
body .container__content .content__title {
  margin: 2rem 0 1rem 0;
  font-size: 18px;
  line-height: 1.4em;
  letter-spacing: -0.02em;
  color: #697582;
  font-weight: 500;
}
body .container__content .content__text {
  font-size: 18px;
  color: #2b3035;
  font-weight: 400;
  line-height: 1.45;
  margin-bottom: 0.4rem;
  margin: auto;
  max-width: 600px;
}
body .container__content .content__text li {
  margin: 2rem 0;
}
body .container__content .content__text ul > li {
  margin-left: 2rem;
}
body .container__content .content__quote {
  border-left: solid 2px #697582;
  padding: 1rem;
  margin: 2rem 0;
  font-size: 18px;
  line-height: 1.45;
}
body .container__content .content__quote--text {
  color: #2b3035;
  font-weight: 400;
}
body .container__content .content__quote--attrib {
  color: #697582;
  font-weight: 500;
}
body .container__content .content__img {
  padding: 2rem 0;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
body .container__content .content__notes {
  text-decoration: none;
  margin-bottom: 2rem;
}
body .container__content .content__notes li {
  font-size: 14px;
  color: #2b3035;
  font-weight: 500;
  line-height: 1.45;
  margin: 0.2rem 0;
}
body .container__content .content__source {
  text-decoration: none;
  color: #0090ff;
}

.disabled {
  color: #7c7f83 !important;
  pointer-events: none;
}

.empty {
  color: #2b3035;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@-webkit-keyframes fadein--nav {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein--nav {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein--body {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
  }
}
@keyframes fadein--body {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
  }
}
.index__image {
  -o-object-fit: none;
     object-fit: none;
  -o-object-position: 50% 65%;
     object-position: 50% 65%;
  width: 100%;
  height: 250px;
  margin: 2rem 0;
  opacity: 0;
  -webkit-animation: fadein--body 1.2s 0.25s forwards;
          animation: fadein--body 1.2s 0.25s forwards;
}
.index__heading {
  margin-bottom: 5rem;
  font-size: clamp(1.5rem, 6.25vw, 2.2rem);
  line-height: 1.4em;
  letter-spacing: -0.02em;
  color: #2b3035;
  font-weight: 600;
  opacity: 0;
  -webkit-animation: fadein--body 1.2s 0.35s forwards;
          animation: fadein--body 1.2s 0.35s forwards;
}
.index__heading--hover {
  color: inherit;
  transition-duration: 120ms;
}
.index__heading--hover:hover {
  color: #FF9900;
}
.index__subheading {
  color: #697582;
  font-weight: 400;
}

.container__index .section__text--heading::after {
  content: "->";
  display: inline-block;
  padding-left: 0.5rem;
  transition-duration: 160ms;
}

.section:nth-child(1) {
  -webkit-animation-delay: 0.275s;
          animation-delay: 0.275s;
}

.section:nth-child(2) {
  -webkit-animation-delay: 0.35s;
          animation-delay: 0.35s;
}

.section:nth-child(3) {
  -webkit-animation-delay: 0.425s;
          animation-delay: 0.425s;
}

.section:nth-child(4) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.section:nth-child(5) {
  -webkit-animation-delay: 0.575s;
          animation-delay: 0.575s;
}

.section:nth-child(6) {
  -webkit-animation-delay: 0.65s;
          animation-delay: 0.65s;
}

.section:nth-child(7) {
  -webkit-animation-delay: 0.725s;
          animation-delay: 0.725s;
}

.section:nth-child(8) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.section:nth-child(9) {
  -webkit-animation-delay: 0.875s;
          animation-delay: 0.875s;
}

.section:nth-child(10) {
  -webkit-animation-delay: 0.95s;
          animation-delay: 0.95s;
}

.section {
  opacity: 0;
  -webkit-animation: fadein--body 1s forwards;
          animation: fadein--body 1s forwards;
}

.container__work .section__text--heading::after {
  content: "->";
  display: inline-block;
  padding-left: 0.5rem;
  transition-duration: 160ms;
}

.container__books .section__cards {
  grid-gap: 4rem;
}
.container__books .section__card {
  max-width: 600px;
  border-radius: 30px;
  transition-duration: 120ms;
  display: flex;
  box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.1);
  flex-direction: column-reverse;
  align-items: center;
}
.container__books .section__card--img {
  align-items: flex-end;
  width: 40%;
  border-radius: 30px 30px 0 0;
  transform: scale(110%) translateY(-4%);
  border-bottom: 10px solid #697582;
  flex-shrink: 0;
}
.container__books .section__card--text {
  display: grid;
  grid-template-areas: "timestamp rating" "heading heading" "author author" "desc desc" "tags tags";
  grid-template-rows: 1fr 1fr 1fr 4fr 1fr;
  grid-template-columns: 2fr 3fr;
  padding: 0.5rem 1rem;
  border-top: 2px solid #697582;
}
.container__books .section__card--link {
  pointer-events: none;
}
.container__books .section__card--active {
  pointer-events: all;
}
.container__books .section__card--active .section__text--heading::after {
  content: "->";
  display: inline-block;
  padding-left: 0.5rem;
  transition-duration: 160ms;
}
.container__books .section__card--active:hover .section__text--heading {
  color: #0090ff;
}
.container__books .section__card--active:hover .section__text--heading::after {
  transform: translateX(10px);
}
.container__books .section__text--timestamp {
  grid-area: timestamp;
}
.container__books .section__text--heading {
  grid-area: heading;
}
.container__books .section__text--desc {
  grid-area: desc;
}
.container__books .section__text--tags {
  grid-area: tags;
}
.container__books .section__text--rating {
  grid-area: rating;
  margin: auto 0 auto auto;
}
.container__books .section__text--rating img {
  height: 20px;
}
.container__books .section__text--author {
  grid-area: author;
  font-size: 18px;
  color: #697582;
  font-weight: 500;
  margin: auto 0;
}

.container__photos .section__card {
  margin: 0 auto;
  max-width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #FEFEFE;
  position: relative;
  box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.1);
  opacity: 0;
  -webkit-animation: fadein--body 1.2s forwards;
          animation: fadein--body 1.2s forwards;
}
.container__photos .section__card--img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border: none;
  border-radius: 0;
}
.container__photos .section__card--location {
  font-size: 20px;
  color: #FEFEFE;
  font-weight: 400;
  line-height: 1.45;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: auto;
  opacity: 0;
  position: absolute;
  top: 5%;
}
.container__photos .section__card--visit {
  font-size: 18px;
  color: #FEFEFE;
  font-weight: 400;
  text-decoration: none;
  opacity: 0;
  position: absolute;
  top: 82%;
  padding: 0.2em 0;
}
.container__photos .section__card--visit::after {
  content: "->";
  display: inline-block;
  padding-left: 0.5rem;
  transition-duration: 160ms;
}
.container__photos .section__card--visit:hover {
  color: #0090ff;
}
.container__photos .section__card--visit:hover:after {
  transform: translate(10px);
}
.container__photos .section__card:hover img {
  filter: brightness(20%);
}
.container__photos .section__card:hover h2, .container__photos .section__card:hover p, .container__photos .section__card:hover a {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  transition-duration: 160ms;
  transform: translateY(0);
  opacity: 1;
}
.container__photos .section__card--text {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
  position: absolute;
  transition-duration: 200ms;
}
.container__photos .section__text--desc {
  font-size: 14px;
  color: #bcc2c9;
  text-decoration: none;
  opacity: 0;
  transition-duration: 160ms;
  padding: 0 0.8em;
  transform: translateY(100px);
}

.container__about .section__heading {
  text-align: center;
  font-size: clamp(1.5rem, 6.25vw, 2.2rem);
  line-height: 1.4em;
  letter-spacing: -0.02em;
  color: #697582;
  font-weight: 400;
}
.container__about .section__notes {
  text-decoration: none;
  max-width: 600px;
  padding: 0 2rem;
}
.container__about .section__notes li {
  font-size: 14px;
  color: #2b3035;
  font-weight: 500;
  line-height: 1.45;
  margin: 2rem 0;
}
.container__about .section__notes ul > li {
  margin-left: 2rem;
}
.container__about .section__notes--source {
  text-decoration: none;
  color: #0090ff;
}
.container__about .section__cards {
  grid-gap: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container__about .section__card {
  max-width: 600px;
  width: 100%;
  border-radius: 30px;
  transition-duration: 120ms;
  box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.1);
}
.container__about .section__card:hover {
  transform: translateY(-10px);
}
.container__about .section__card:hover .section__text--heading {
  color: #2b3035;
}
.container__about .section__card--heading {
  font-size: 12px;
  color: #697582;
  font-weight: 500;
  line-height: 1.45;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  padding: 1rem;
}
.container__about .section__card--text {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0.5rem 1rem;
}
.container__about .section__card--link {
  pointer-events: none;
}
.container__about .section__card--active {
  pointer-events: all;
}
.container__about .section__card--active .section__text--heading::after {
  content: "->";
  display: inline-block;
  padding-left: 0.5rem;
  transition-duration: 160ms;
}
.container__about .section__card--active:hover .section__text--heading {
  color: #0090ff;
}
.container__about .section__card--active:hover .section__text--heading::after {
  transform: translateX(10px);
}
.container__about .section__text--heading {
  font-size: 18px;
  color: #2b3035;
  font-weight: 500;
}
.container__about .section__text--subheading {
  font-size: 16px;
  color: #697582;
  font-weight: 500;
  margin: auto 0;
  padding-left: 2rem;
}
.container__about .section__text--rating {
  margin: auto 0 auto auto;
}
.container__about .section__text--rating img {
  height: 20px;
}

.err404 {
  color: #2b3035;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 600px) {
  body .container__index .index__image {
    margin: 5rem 0;
  }
  body .container__index .section__cards {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
  }
  body .container__work .section__cards {
    grid-template-columns: repeat(2, 1fr);
  }
  body .container__books .section__cards {
    grid-gap: 2em;
    justify-content: center;
  }
  body .container__books .section__card {
    flex-direction: row;
    align-items: initial;
  }
  body .container__books .section__card--text {
    border: none;
  }
  body .container__books .section__card--img {
    align-items: flex-end;
    width: 40%;
    border-radius: 0 30px 30px 0;
    border-bottom: none;
    transform: none;
  }
  body .container__photos .photos__details--info {
    font-size: 18px;
  }
}
@media screen and (min-width: 900px) {
  body .nav {
    max-width: 1200px;
    position: absolute;
    width: 84%;
    height: 6rem;
    padding: 0;
    display: grid;
    grid-template-columns: 5fr 4fr 1fr;
    background-color: rgba(255, 255, 255, 0);
    visibility: visible;
    transform: none;
    border-bottom: 1px solid #9da6af;
    opacity: 0;
    -webkit-animation: fadein--nav 0.4s forwards;
            animation: fadein--nav 0.4s forwards;
  }
  body .nav__menu {
    display: flex;
    border: none;
    justify-content: flex-end;
  }
  body .nav__item {
    transform: none;
    margin: auto 0 auto 1.5rem;
    padding: 0 0 0.5rem 0;
  }
  body .nav__link {
    text-decoration: none;
    color: #697582;
    font-weight: 600;
    font-size: 14px;
    transition-duration: 120ms;
  }
  body .nav__link:hover {
    color: #0090ff;
  }
  body .nav__icons {
    display: flex;
    padding: 1rem 0;
  }
  body .nav__icons:nth-child(1) {
    justify-content: flex-start;
  }
  body .nav__icons:nth-child(3) {
    justify-content: flex-end;
  }
  body .nav__icons:nth-child(3) .nav__icon {
    padding-left: 0.5rem;
  }
  body .nav__icon {
    filter: brightness(1);
    text-decoration: none;
    transition-duration: 120ms;
  }
  body .nav__icon img {
    height: 25px;
    width: 25px;
  }
  body .nav__icon:hover {
    filter: brightness(0.2);
  }
  body .burger {
    display: none;
  }
  body .nav, body .container {
    margin: 0 8%;
  }
  body header-container, body header-container-sub {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body header {
    border: none;
    margin: auto;
    width: auto;
    z-index: 10;
  }
  body footer-container, body footer-container-sub {
    width: 100%;
  }
  body .container__photos .section__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1200px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  body .nav {
    right: auto;
  }
  body .container__index .section__cards {
    grid-template-columns: repeat(3, 1fr);
  }
  body .container__work .section__cards {
    grid-template-columns: repeat(3, 1fr);
  }
  body .container__books .section__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}/*# sourceMappingURL=style.css.map */